Package: com.pingan.pars
Name: PAReplaceStepNumber
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: SuperDry
Author: SuperDry
Section: Tweaks
Version: 0.0.1-7+debug
Installed-Size: 84
