Package: com.Michio.PAReplaceStepNumber
Name: PAReplaceStepNumber
Depends: mobilesubstrate
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: SuperDry
Author: SuperDry
Section: Tweaks
Version: 0.0.1-43+debug
Installed-Size: 136
